site_name: Lifecycle Helm Charts
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  highlightjs: true
  hljs_languages:
    - yaml
  features:
    - navigation.sections
    - navigation.indexes
    - content.code.copy
    - content.code.annotate
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
